/* xxx.css */
.container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    width: 100%;
    height: 68px;
    line-height: 52px;
    text-align: center;
    font-size: 22px;
}

.chart-region {
    height: 330px;
    width: 330px;
    background-color: red;
}

button {
    width: 100%;
    height: 68px;
    line-height: 68px;
    text-align: center;
    font-size: 22px;
}

.currency-content {
    width: 400px;
}
.currency-list {
    width: 400px;
}

.list-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 400px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    padding-left: 10px;
    padding-right: 18px;
    height: 23%;
/*    border-bottom: 1px solid #f3f3f3;*/
}

.list-item image {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 0px 10px 0 10px;
}

.list-item .item-name {
    font-size: 22px;
    width: 26%;
}








/*button {*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*    background-color: yellow;*/
/*!*    color: red;*!*/
/*}*/

