.container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.page-header {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    color: silver;
    width: 100%;
}

.page-header text {
    width: 100%;
    text-align: center;
/*    background-color: red;*/
}

.page-header .title {
    font-size: 30px;
    margin-top: 20px;
    color: crimson;
}

.page-header .time {
    font-size: 22px;
    margin-top: 10px;
    color: aqua;
}

.currency-content {
/*    background-color: red;*/
    width: 400px;
}
.currency-list {
    width: 400px;
}

.list-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 400px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    padding-left: 10px;
    padding-right: 18px;
    height: 23%;
/*    border-bottom: 1px solid #f3f3f3;*/
}

.list-item image {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 0px 10px 0 10px;
}

.list-item .item-name {
    font-size: 22px;
    width: 26%;
}

.list-item .item-price {
    font-size: 22px;
    width: 40%;
}

.list-item .item-rate {
    font-size: 20px;
    width: 18%;
    text-align: right;
}

.list-item .up {
    color: #d93636;
}

.list-item .down {
    color: #23a621;
}

